/ {
	aliases {
		rtc = &rv_8263_c8;
	};
};

&i2c0 {
	rv_8263_c8: rv-8263-c8@51 {
		compatible = "microcrystal,rv-8263-c8";
		reg = <0x51>;
		status = "okay";
		clkout = <1024>;
		int-gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};
